.seach-modal .modal-body{
	padding: 30px !important;
	position:relative;
}
.seach-modal .modal-backdrop{z-index: 0 !important;}

#searchform{margin: 0;}
.seach-modal button.close{
    color: #9E2A23;
    opacity: 1 !important;
    border: none !important;
	position: absolute;
	top: 10px;
	right: 10px;
}
.seach-modal .searchform input{
	height: auto;
	padding: 5px 15px;
}
.seach-modal button.close:hover{color: #C88682 !important;}